.venv
order_service/ordervenv/
user_service/uservenv/
product_service/productvenv/
api_gateway/apivenv/

__pycache__/
*.py[cod]

order_service/migrations/
user_service/migrations/
product_service/migrations/

.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
